/*
Description: Styling for Pygments code-highlighting
Documentation: style.txt
*/

#remark td .highlight .linenos { background-color: #f0f0f0; padding-right: 10px; }
#remark span .highlight .lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }

#remark .highlight .c { color: #408080; font-style: italic } /* Comment */
#remark .highlight .err { border: 1px solid #FF0000 } /* Error */
#remark .highlight .k { color: #008000; font-weight: bold } /* Keyword */
#remark .highlight .o { color: #666666 } /* Operator */
#remark .highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
#remark .highlight .cp { color: #BC7A00 } /* Comment.Preproc */
#remark .highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
#remark .highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
#remark .highlight .gd { color: #A00000 } /* Generic.Deleted */
#remark .highlight .ge { font-style: italic } /* Generic.Emph */
#remark .highlight .gr { color: #FF0000 } /* Generic.Error */
#remark .highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
#remark .highlight .gi { color: #00A000 } /* Generic.Inserted */
#remark .highlight .go { color: #808080 } /* Generic.Output */
#remark .highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
#remark .highlight .gs { font-weight: bold } /* Generic.Strong */
#remark .highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
#remark .highlight .gt { color: #0040D0 } /* Generic.Traceback */
#remark .highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
#remark .highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
#remark .highlight .kp { color: #008000 } /* Keyword.Pseudo */
#remark .highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
#remark .highlight .kt { color: #B00040 } /* Keyword.Type */
#remark .highlight .m { color: #666666 } /* Literal.Number */
#remark .highlight .s { color: #BA2121 } /* Literal.String */
#remark .highlight .na { color: #7D9029 } /* Name.Attribute */
#remark .highlight .nb { color: #008000 } /* Name.Builtin */
#remark .highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
#remark .highlight .no { color: #880000 } /* Name.Constant */
#remark .highlight .nd { color: #AA22FF } /* Name.Decorator */
#remark .highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
#remark .highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
#remark .highlight .nf { color: #0000FF } /* Name.Function */
#remark .highlight .nl { color: #A0A000 } /* Name.Label */
#remark .highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
#remark .highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
#remark .highlight .nv { color: #19177C } /* Name.Variable */
#remark .highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
#remark .highlight .w { color: #bbbbbb } /* Text.Whitespace */
#remark .highlight .mf { color: #666666 } /* Literal.Number.Float */
#remark .highlight .mh { color: #666666 } /* Literal.Number.Hex */
#remark .highlight .mi { color: #666666 } /* Literal.Number.Integer */
#remark .highlight .mo { color: #666666 } /* Literal.Number.Oct */
#remark .highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
#remark .highlight .sc { color: #BA2121 } /* Literal.String.Char */
#remark .highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
#remark .highlight .s2 { color: #BA2121 } /* Literal.String.Double */
#remark .highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
#remark .highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
#remark .highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
#remark .highlight .sx { color: #008000 } /* Literal.String.Other */
#remark .highlight .sr { color: #BB6688 } /* Literal.String.Regex */
#remark .highlight .s1 { color: #BA2121 } /* Literal.String.Single */
#remark .highlight .ss { color: #19177C } /* Literal.String.Symbol */
#remark .highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
#remark .highlight .vc { color: #19177C } /* Name.Variable.Class */
#remark .highlight .vg { color: #19177C } /* Name.Variable.Global */
#remark .highlight .vi { color: #19177C } /* Name.Variable.Instance */
#remark .highlight .il { color: #666666 } /* Literal.Number.Integer.Long */
