/*
Default stylesheet for Remark.

'#mark' only affects the stuff that Markdown has generated. 
That includes almost everything... Except the footer at the 
bottom which is under '#footer'.
*/

html, body 
{
    height: 100%;
}

body 
{
    /* Fonts from the sans-serif generic family are easier to read. 
    Sans-serif means roughly 'without wiggles'. */
    font-family: sans-serif;
    /* See the W3C CSS School for this trick. */
    font-size: 100%;
    /* Using more space between lines of text makes it easier to read. */
    line-height: 1.3em;
    /* Using margins, the text concentrates more tighly
    towards the center. There will be empty regions on both 
    sides. I find this easier to read. */
    margin-left: 25%;
    margin-right: 25%;
}

/* Verbatim content */
pre 
{
    /* Verbatim content is bordered with a dotted, one-pixel wide rectangle. */
    border-style: dotted;
    border-width: 1px;
    border-color: rgb(85, 85, 85);

    /* Its background is colored light green. */
    background-color: rgb(234, 255, 232);

    /* The verbatim content should be indented somewhat. */
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
    margin-right: 0px;
    
    /* The verbatim content box should always have the same width.
    This is because it must be able to hold some 70 characters
    of source code per line. Yes, it is ugly when resizing, but
    what can you do... */
    width: 55em;
    
    /* The content should not be near the border. */
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#mark 
{
    /* There should be some empty space before the footer. */
    padding-bottom: 60px;
}

/* Normal text */
#mark p 
{
    margin-left: 0px;
    text-align: justify;
}

/* Level 1 headings */
#mark h1 
{
    margin: 1.5em 0em 1em 0em;
    /* Draw a dotted line under the heading. */
    border-bottom: 2px dotted #aca899;
    /* Make some space between the heading and the line under it.*/ 
    padding-bottom: 0.4em;
    letter-spacing: 0.7em;
    font-size: 1.6em;
    font-weight: normal;
    font-family: 'Trebuchet MS',Arial;
    color: #656565;
    line-height: 1.5em;
}

/* Level 2 headings */
#mark h2 
{
    margin: 1.5em 0em 1em 0em;
    /* Draw a dotted line under the heading. */
    border-bottom: 1px dotted #aca899;
    /* Make some space between the heading and the line under it.*/ 
    padding-bottom: 0.4em;
    letter-spacing: 0.3em;
    font-size: 1.4em;
    font-weight: normal;
    font-family:'Trebuchet MS',Arial;
    color: #656565;
}

/* Level 3 headings */
#mark h3 
{
    margin: 1.5em 0em 1em 0em;
    font-size: 1.2em;
    font-weight: normal;
    font-family:'Trebuchet MS',Arial;
    color: #356535;
}

/* Level 4 headings */
#mark h4 
{
    margin: 1.5em 0em 1em 0em;
    font-size: 1.0em;
    font-weight: normal;
    font-family:'Trebuchet MS',Arial;
    color: #255525;
}

/* Images */
img 
{
    /* We would like to add a 1 pixel border
    around the image to make it stand out. */
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
}

/* Unordered lists (bullets) */
#mark ul 
{
    list-style: disk;
}

/* Ordered lists */
#mark ol
{
    list-style-type: decimal;
}

/* A list item */
#mark li 
{
}

/* Links */
#mark a 
{ 
    text-decoration: none; 
    color: #a00000; 
}

/* Links when the mouse is hold over them */
#mark a:hover 
{ 
    text-decoration: underline; 
    color: #600000; 
}

/* Tables */
#mark table
{
    border-collapse: collapse;
    /* We would like to indent tables a bit. 
    Note the amount of indentation matches with the amount
    for the verbatim content.*/
    margin-left: 40px;
    font-size: 0.75em;
}

/* Tables and cells*/
#mark table, th, td
{
    /* Give them a one-pixel wide border. */
    border: 1px solid black;
}

/* Tables: Cells */
#mark td, th
{
    /* Give some empty space around the content of a cell. */
    padding: 5px;
}

/* Table: Cells: Headers */
#mark th
{
    color: Maroon;
}

/* Table: Cells: Data */
#mark td
{
}

/* Definition lists */
#mark dl
{
}

/* Definition lists: The thing to define. */
#mark dt
{
    /*font-weight: bold;*/
    /*font-size: 1em;*/
    color: Maroon;
}

/* Definition lists: The definition of the thing. */
#mark dd
{
}

/* Remark generates some stuff in the 'footer' div. */

#footer 
{
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 30px;
}

#footer p 
{
    border-top: 1px dotted #716f64;
    font-size: 0.7em;
    font-family:'Trebuchet MS',Arial;
    color: #716f64;
}
#footer a 
{ 
    text-decoration: none; 
    color: #716f64; 
}

#footer a:hover 
{ 
    text-decoration: underline; 
    color: #600; 
}

#container 
{
    min-height: 100%;
    position: relative;
}
